body{
    background-color: antiquewhite;
    text-align: center;
}
h1{
    display: inline-block;
    width: 600px;
    background-color: rgba(133, 184, 184, 0.74);
    border-radius: 5% 5% 5% 5%;
    border: solid;
}
p{
    display: inline-block;
    font-size: larger;
    background-color: aliceblue;
    padding: 5px;
}
#inicio{
    border: solid; 
    box-shadow: 5px 5px 5px;
    display: inline-block;
    width: 600px;
    
    background-color: rgba(61, 61, 122, 0.541);
}
#playground{
    border-radius: 2% 2% 2% 2%;
    margin-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}
#sorteio{
    display: none;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(102, 128, 128, 0.493);
}
.bot{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 3px 3px 3px;
    margin-right: 3px;
    background-color: rgb(32, 32, 209);
}
#grupos{
   display: none;
   justify-content: space-around;
    margin: 10px;
    border-radius: 4%;
    background-color: rgba(61, 61, 122, 0.541);
}
#grupqtd{
    width: 25px;
}
.alunogrup{
    display: flex;
    flex-direction: column;
}
.caixgrup{
    display: none;
    background-color: rgb(180, 126, 56);
    margin: 10px;
    border-radius: 10%;
    padding: 7px;

}
#quiz{
    display: none;
    margin: 10px;
    padding: 5px;
    border-radius: 5%;
    background-color: rgba(91, 156, 134, 0.616);
}
.pergunta{
    display: flex;
    margin-top: 10px;
    margin: 4px 10px;
    padding: 8px;
    background-color: rgb(226, 189, 189);
    border-radius: 5%;
    box-shadow: 2px 2px 2px;
    font-size: x-large;
    justify-content: space-around;
}
#relogio{
    display: none;
    background-color: rgb(123, 190, 190);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 40%;
}
#temp{
    
    width: 120px;
    
    font-size: 30px;
}
