@charset "UTF-8";
body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 226, 220); 
    
}
header{
    display: flex;
    margin: 5px;
    box-shadow: 3px 3px 3px;
    align-items: center;
    justify-content: center;
    background-color:rgba(166, 240, 215, 0.76);
}

#seg{
    flex-direction: column;
    box-shadow: 2px 2px 2px;
    background-color: rgb(189, 189, 236);
}
div{
    display: flex; 
}

#recursos{
    margin-top: 10px;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 2px 2px 2px;
    border-radius: 10%;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(196, 245, 245, 0.411);

}
#visitant{
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 15%;
    background-color: beige;
    
}
#adicionar{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#visit{
    width: 40px;
}
#presente{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.aluno{
    display: flex;
    margin-top: 4px;
    margin: 4px 10px;
    padding: 8px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 2px 2px 2px;
    font-size: larger;
    justify-content: space-around;
}

#computar{
    margin: 20px;
    width: 100px;
    height: 25px;
}
#res{
    margin-top: 10px; 
    padding-left: 25px;
    box-shadow: 2px 2px 2px;
    border-radius: 10%;
    flex-direction: column;
    background-color: white;
}
.pres{
    margin-right:60px;  
}
#present{
   display: block; 
   border: solid;
   padding-left: 10px;
   width: 400px;
   border-color: rgba(0, 0, 0, 0.534);
}
footer{
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.623);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}
#turmas{
    display: block;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.986);
    padding: 10px;
    padding-bottom: 25px;
    margin: 10px;
    border: solid;
    border-color: rgb(158, 123, 123);
    border-style: groove;
    box-shadow: 5px 5px 5px;
}
.p{
    background-color: white;
    padding: 20px;
}
#inic{
    display: flex;
    justify-content: center;
}
