body{
    position: relative;
    width: 360px;
    height: 725px;
    background-color: #A7CCF8;
}
h1{
    height: 84px;
    width: 331px;
    left: 11px;
    top: 62px;
    padding-left: 20px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    
    display: flex;
    align-items: center;
    text-align: center;

    background: linear-gradient(180deg, #924EE9 0%, rgba(132, 62, 221, 0.541667) 38.54%, rgba(161, 33, 244, 0.850036) 68.75%, rgba(159, 80, 197, 0.98) 99.99%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
/*
p{
    display: inline-block;
    font-size: larger;
    background-color: aliceblue;
    padding: 5px;
}
*/
#botaosorteioaluno{
    position: absolute;
    width: 162px;
    height: 34px;
    left: 174px;
    top: 220px;

    background: #FFFFFF;
    border-radius: 15px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    display: none;
    justify-content: center;
    align-items: center;
    
    color: #000000;
}
#sorteioquiz{
    position: absolute;
    width: 162px;
    height: 33.73px;
    left: 8px;
    top: 220px;

    background: #FFFFFF;
    border-radius: 15px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    display: none;
    align-items: center;
    justify-content: center;

    color: #000000;

}
#botaogrupos{

}
#quiz{
    position: absolute;
    left: 8px;
    top: 266px;
}
#botaoquiz{
   
    width: 337px;
    height: 53px;
    
    background: #FFFFFF;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#botaocronometro{
    position: absolute;
    height: 43px;
    width: 328px;
    left: 8px;
    top: 166px;
    border-radius: 15px;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #000000;
}

#inicio{ 
    
    
}
/*
#playground{
    border-radius: 2% 2% 2% 2%;
    margin-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}
*/
#sorteio{
    display: none;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(102, 128, 128, 0.493);
}
/*

*/
.bot{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 3px 3px 3px;
    margin-right: 3px;
    background-color: rgb(32, 32, 209);
}
/*
#grupos{
   display: flex;
   justify-content: space-around;
    margin: 10px;
    border-radius: 4%;
    background-color: rgba(61, 61, 122, 0.541);
}
*/
#grupqtd{
    width: 25px;
}
.alunogrup{
    display: flex;
    flex-direction: column;
}
.caixgrup{
    display: none;
    background-color: rgb(180, 126, 56);
    margin: 10px;
    border-radius: 10%;
    padding: 7px;

}
#quizconfi{
    display: none;
    margin: 10px;
    padding: 5px;
    border-radius: 5%;
    background-color: rgba(91, 156, 134, 0.616);
}
#quest{
    width: 328px;
    height: 200px;
}
.pergunta{
    display: flex;
    margin-top: 10px;
    margin: 4px 10px;
    padding: 8px;
    background-color: rgb(226, 189, 189);
    border-radius: 5%;
    box-shadow: 2px 2px 2px;
    font-size: x-large;
    justify-content: space-around;
}
#relogio{
    position: absolute;
    display: none;
    justify-content: space-between;
    left: 35px;
    top: 100px;
    width: 320px;
    height: 100px;
    border-radius: 40%;
}
#botaoreologio{
    display: flex;
    justify-content: center;
    align-items: center;
}
#temp{
    width: 120px;
    font-size: 30px;
}
